<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Assets Menu</title>
  		
  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
				
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>
		
		
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		


   		<div class="container">
   		
   			<nav id="hcssmenu">
    			<ul>
        			<li>
           				<form th:action="@{/portal/mainMenu}" method="post">
               				<button type="submit" class="btn btn-light">Back</button>	
	           			
	           				<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           			</form>
        			</li>
            	
        			<li>
        		
        				<form th:action="@{/procurement/assets/list}" method="post">
                            	
	           				<button type="submit" class="btn btn-light">List All Assets</button>	
	           			
	           				<input type="hidden" th:value="all" name="stringSearch"> 
	           				<input type="hidden" th:value="list" name="priznak">
	           				<input type="hidden" th:value="${quserId}" name="quserId"> 
	           				
	           			</form>
        		
        			</li>
        		        		
        			<li>
	           			
	           			<form th:action="@{/procurement/assets/new}" method="post">
                            	
	           				<button type="submit" class="btn btn-light">Add New</button>	
	           			
	           				<input type="hidden" th:value="new" name="stringSearch"> 
	           				<input type="hidden" th:value="${quserId}" name="quserId"> 
	           				
	           			</form>
	        		</li>
	        		<li>
	           			
	           			<form th:action="@{/procurement/assets/views}" method="post">
                            	
	           				<button type="submit" class="btn btn-light">Export</button>	
	           			
	           				<input type="hidden" th:value="${quserId}" name="quserId"> 
	           				
	           			</form>
	        		</li>
            	</ul>
      		</nav>
   		
      		<div class="row"> 
        		<div class="col-lg-12 text-center">
			          <p class="navbar-brand" style="color:#880000;font-size:15px;">Options for Searching Assets</p>
				          
        		</div>
      		</div>
      			
      		<div class="col-sm"><label style="color:teal;font-size:11px;" th:text="${quser.username} +' ('+ ${quser.role} +')'"></label></div>	
      			
      		<div class="row">
      			
      			<div class="col">
      				<label class="warning">Search by Asset Number</label>
      				
      				<form class="utilityForm" th:action="@{/procurement/assets/findAssetByNum}" method="post">
	                    
		                    <div class="form-group">
		                       	<label for="number" class="col-form-label">Asset Number<sup>*</sup>:</label> 
		                       	<input type="text" name="stringSearch" placeholder="Assset Number" required  size="20" maxlength="20"/>
		                    </div>
		                                        
		                    
		                    <div class="form-group">
		                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
		                    </div>
		                    
		                    <input type="hidden" th:value="findAssetByNum" name="priznak">
		                    <input type="hidden" th:value="${quserId}" name="quserId">  
		                      	
	           		</form>
      				
      			</div>
      				
      				
      			<div class="col">
      				
      					<label class="warning">Search by Item</label>
      				
      					<form class="utilityForm" th:action="@{/procurement/assets/findAssetsByItem}" method="post">
	                    
		                    <div class="form-group">
		                       	<label for="requester" class="col-form-label">Select item type<sup>*</sup>:</label> 
		                       	<select name="stringSearch" required>
                       				<option th:each="item : ${items}" th:value="${item.itemNumber}" th:text="${item.item}" ></option>
                       			</select>
		                    </div>
		                                        
		                    
		                    <div class="form-group">
		                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
		                       	
		                    </div>
		                    
		                    <input type="hidden" th:value="findAssetsByItem" name="priznak"> 
		                    <input type="hidden" th:value="${quserId}" name="quserId"> 
		                      	
	            		</form>
      				
      				</div>
      				      				
      				<div class="col">
      				
      					<label class="warning">Search by Author (Person who registered items)</label>
      				
      					<form class="utilityForm" th:action="@{/procurement/assets/findAssetsByAuthor}" method="post">
	                    
		                    <div class="form-group">
		                       	<label for="requester" class="col-form-label">Select Author<sup>*</sup>:</label> 
		                       	<select name="stringSearch" required>
                       				<option th:each="client : ${clients}" th:value="${client.clientid}" th:text="${client.cname}" ></option>
                       			</select>
		                    </div>
		                                        
		                    
		                    <div class="form-group">
		                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
		                       	
		                    </div>
		                    
		                    <input type="hidden" th:value="findAssetsByAuthor" name="priznak">
		                    <input type="hidden" th:value="${quserId}" name="quserId"> 
		                      	
	            		</form>
      				
      				
      				</div>
     		
	  				
  				</div>
  				
  				<div class="row">
  				
  					<div class="col">
      				
      					<label class="warning">Search by Program</label>
      				
      					<form class="utilityForm" th:action="@{/procurement/assets/findAssetsByProgram}" method="post">
	                    
		                    <div class="form-group">
		                       	<label for="requester" class="col-form-label">Select Program<sup>*</sup>:</label> 
		                       	<select name="stringSearch" required>
                       				<option th:each="project : ${projects}" th:value="${project.projectNumber}" th:text="${project.project}" ></option>
                       			</select>
		                    </div>
		                                        
		                    
		                    <div class="form-group">
		                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
		                       	
		                    </div>
		                    
		                    <input type="hidden" th:value="findAssetsByProgram" name="priznak">
		                    <input type="hidden" th:value="${quserId}" name="quserId"> 
		                      	
	            		</form>
      				      				
      				</div>
      				
      				<div class="col">
      				
      					<label class="warning">Search by Assignee</label>
      				
      					<form class="utilityForm" th:action="@{/procurement/assets/findAssetsByAssignee}" method="post">
	                    
		                    <div class="form-group">
		                       	<label for="requester" class="col-form-label">Select Assignee<sup>*</sup>:</label> 
		                       	<select name="stringSearch" required>
		                       		<option value=""></option>
                       				<option th:each="client : ${clients}" th:value="${client.clientid}" th:text="${client.cname}"></option>
                       			</select>
		                    </div>
		                                        
		                    
		                    <div class="form-group">
		                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
		                       	
		                    </div>
		                    
		                    <input type="hidden" th:value="findAssetsByAssignee" name="priznak">
		                    <input type="hidden" th:value="${quserId}" name="quserId"> 
		                      	
	            		</form>
      				
      				
      				</div>
  				
  				</div>
  		</div>
  		
  		<!-- Footer -->
  
  		<footer class="customFooter">&copy;TRC Corp</footer> 
  			
	</body>
</html>			
				
				
