<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Assets Reassignation</title>
  		
  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">		
			
		
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>
		
	</head>

	<body id="page-top">
	
		<div class="container">

  <!-- Navigation -->
	  		<nav id="hcssmenu">
	    		<ul>
	        		<li>
	           			<form th:action="@{/procurement/assets/list}" method="post">
	                            	
		           			<button type="submit" class="btn btn-light">Back</button>	
		           			
		           			<input type="hidden" th:value="${stringSearch}" name="stringSearch"> 
		           			<input type="hidden" th:value="${priznak}" name="priznak">
		           			<input type="hidden" th:value="${quserId}" name="quserId">
		           				
		           		</form>	
	        		</li>
	            	
	            </ul>
	      	</nav>
	
			<div class="container">
	 
	  			<section class="page-section" id="mainBody">
	    			<div class="container">
	      				<div class="row" >
	        				<div class="col-lg-8 text-center">
					          	<label style="color:#880000;">Re-Assignation of Asset # : </label>
					         	<label style="font-weight:bold;color:teal;" th:text="${asset.assetNumber}"></label>
	        				</div>
	      				</div>
	      				
	      				<table class="table table-striped">
	      					<tr>
	      						<td colspan="2" style="color:teal;font-size:11px;" th:text="${quser.username} +' ('+ ${quser.role} +')'"></td>
	      					</tr>
	      					<tr>
	      						<td th:text="'Priznak is '+ ${priznak}"></td>
	      						<td th:text="'StringSearch is '+ ${stringSearch}"></td>
	     			     	</tr>
	     			     </table>		
										
						<div th:text="${message}"></div>
					
						<hr/>
						<table class="table table-sm table-bordered">
							<tr><td th:text="'Old User:  '+ ${oldAssignee.cname}"></td></tr>
							<tr><td th:text="'Title:  '+ ${oldAssignee.title}"></td></tr>
							<tr><td th:text="'Email:  '+ ${oldAssignee.email}"></td></tr>
							<tr><td th:text="'Project:  '+ ${oldAssignee.projectNumber}"></td></tr>
							<tr><td th:text="'Employment Status:  '+ ${oldAssignee.empStatus}"></td></tr>
						</table>
						
						<hr/>
						<table class="table table-sm table-bordered">
							<tr><td th:text="'New User:  '+ ${newAssignee.cname}"></td></tr>
							<tr><td th:text="'Title:  '+ ${newAssignee.title}"></td></tr>
							<tr><td th:text="'Email:  '+ ${newAssignee.email}"></td></tr>
							<tr><td th:text="'Project:  '+ ${newAssignee.projectNumber}"></td></tr>
							<tr><td th:text="'Employment Status:  '+ ${newAssignee.empStatus}"></td></tr>
						</table>
						
						<hr/>
						<table class="table table-sm table-bordered">
							<tr><td th:text="'Reassigned by:  '+ ${reassignedBy}"></td></tr>
							<tr><td th:text="'Notes:  '+ ${notes}"></td></tr>
							
						</table>
						
						<br>
					
						<form th:action="@{/procurement/assets/list}" method="post">
	                            	
		           			<button type="submit" class="btn btn-primary">Back</button>	
		           			
		           			<input type="hidden" th:value="${stringSearch}" name="stringSearch"> 
		           			<input type="hidden" th:value="${priznak}" name="priznak">
		           			<input type="hidden" th:value="${quserId}" name="quserId">
		           				
		           		</form>
					
	  					<hr/>
	  				  				  						
	  				</div>
	  		
	  			</section>
	  		</div>
	  		
	  		<!-- Footer -->
	  		
	  		<footer class="customFooter">&copy;TRC Corp</footer> 
  		</div>
	</body>
</html>			
				
				
