<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Assets</title>
  		
  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">		
			
		
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>
		
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		


   		<div class="container">
   		
   			<nav id="hcssmenu">
	    		<ul>
	    			<li>
	           			<form th:action="@{/procurement/assets/menu}" method="post">
               				<button type="submit" class="btn btn-light">Back</button>	
	           			
	           				<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           			</form>
	        		</li>
	        			        			        		
	            </ul>
      		</nav>
   		
      			<div class="row">
        			<div class="col-lg-8" th:if="${stringSearch=='all'}">
				          <p class="navbar-brand" style="color:#880000;font-size:15px;">Showing All HHS IT Assets</p><span th:text="${stringSearch}"></span>
				   	</div>
				   	<div class="col-lg-12" th:unless="${stringSearch=='all'}">
				          <p class="navbar-brand" style="color:#880000;font-size:15px;">Results searching string: </p><span th:text="${stringSearch}"></span>
				   	</div>
				   	
				   	<table class="table table-striped">
				   		<tr>
				   			<td><label style="color:teal;" th:text="${quser.username} +' ('+ ${quser.role} +')'"></label></td>
				   			<td><label style="color:#003399;" th:text="${priznak}"></label></td>
				   		</tr>
				   	</table>
				   	
      			</div>
     		
  				<table class="table table-striped table-responsive-md">
  					<thead>
  						<tr>
  							<th style="color:#006400;font-size:12px;">#</th>
  							<th style="color:#006400;font-size:12px;">Item</th>
  							<th style="color:#006400;font-size:12px;">Asset #</th>
  							
  							<th style="color:#006400;font-size:12px;">Project</th>
  							<th style="color:#006400;font-size:12px;">User</th>
  							<th style="color:#006400;font-size:12px;">Date Purchased</th>
  							<th style="color:#006400;font-size:12px;">Peripherals</th>
  							<th style="color:#006400;font-size:12px;">Active</th>
  							<th style="color:#006400;font-size:12px;">Rep.By</th>
  							
  							<th style="color:#006400;font-size:12px;">Edit</th>
  							<th th:if="${quser.role}=='dba'" style="color:#006400;font-size:12px;">Delete</th>
  							
  						</tr>
  					</thead>
  					<tbody>
  						<tr th:each="asset,itemNum : ${assets}">
  							<td th:text="${itemNum.count}" style="font-size:12px;"></td>
  							<td th:text="${asset.site}" style="font-size:12px;" noWrap></td>
  							<td th:text="${asset.assetNumber}" style="font-size:12px;"></td>
  							
  							<td th:text="${asset.program}" style="font-size:11px;"></td>
  							<td th:text="${asset.username}" style="font-size:12px;" noWrap></td>  							
  							<td th:text="${asset.datePurchased}" style="font-size:12px;"></td>
  							
  							<td th:if="${asset.strobe}=='Yes'" th:text="${asset.strobe}" style="font-size:12px;background-color:lightblue;text-align: center;"></td>	
  							<td th:unless="${asset.strobe}=='Yes'" th:text="${asset.strobe}" style="font-size:12px;text-align: center;"></td>
  							
  							<td th:if="${asset.active}=='Yes'" th:text="${asset.active}" style="font-size:12px;"></td>
  							<td th:unless="${asset.active}=='Yes'" th:text="${asset.active}" style="font-size:12px;background-color:#ffccff;text-align: center;"></td>
  							<td th:text="${asset.author}" style="font-size:12px;" noWrap></td>						  							
  							<td>
                            	<form th:action="@{/procurement/assets/edit}" method="post">
                            	
	           			        	<button type="submit" class="btn btn-primary fa fa-edit btn-sm"></button>	
	           			
	           						<input type="hidden" th:value="${stringSearch}" name="stringSearch"> 
	           						<input type="hidden" th:value="${asset.assetid}" name="id"> 
	           						<input type="hidden" th:value="${priznak}" name="priznak">
	           						<input type="hidden" th:value="${quserId}" name="quserId"> 
	           					</form>
                            </td>
                           
                            <td th:if="${quser.role}=='dba'">
                            	<form th:action="@{/procurement/assets/delete}" method="post" onClick="return confirmDelete();">
                            	
	           			        	<button type="submit" class="btn btn-danger fa fa-trash btn-sm"></button>	
	           			
	           						<input type="hidden" th:value="${stringSearch}" name="stringSearch"> 
	           						<input type="hidden" th:value="${asset.assetid}" name="id"> 
	           						<input type="hidden" th:value="${priznak}" name="priznak">
	           						<input type="hidden" th:value="${quserId}" name="quserId"> 
	           					</form>
                            </td>
                                                                                   
  						</tr>	
  					</tbody>	
  				</table>
  		</div>
  		
  		<!-- Footer -->
  
  		<footer class="customFooter">&copy;TRC Corp</footer> 
  		
 	</body>
</html>			
