<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>TCP Data Compare</title>
  		
  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">		
			
		
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>
		
	</head>

	<body id="page-top">
		<div class="container">

  <!-- Navigation -->
	  		<nav id="hcssmenu">
	    		<ul>
	        		<li>
	           			<form th:action="@{/portal/mainMenu}" method="post">
                            	
	           				<button type="submit" class="btn btn-light">Back</button>	
	           			
	           				<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           			</form>
	        		</li>
	            	
	            </ul>
	      	</nav>
	
			<div class="container">
				<div class="row">&nbsp;</div>
				<div class="row" style="color:teal;" th:text="${quser.username} +' ('+ ${quser.role} +')'"></div>
				<div class="row">&nbsp;</div>
	 
	  			<section class="page-section" id="mainBody">
	    			
	      			<div class="row" >
	        			<div class="col-lg-6">
					       	<div style="color:brown;font-weight:bold;" th:text="${message}"></div>
					         	
	        			</div>
	      			</div>
	     			
	     			<form th:action="@{/dataComp/list}" method="post">
		     			<div class="form-group">
	                       	<label for="projectNumber" class="col-form-label">HHS Project <sup>*</sup>:</label> 
	                       	<select name="projectNumber" required>
	                       		<option value=""></option>
	                       		<option th:each="project : ${projects}" th:value="${project.projectNumber}" th:text="${project.project} +' ('+ ${project.projectNumber} +')'" ></option>
	                       	</select>
	                    </div> 
	                    <div class="form-group">
	                    	<input type="submit" class="btn btn-primary btn-sm" value=" Continue ">
	                    </div>
	                    <input type="hidden" th:value="${quserId}" name="quserId"> 
	                          
	  			  	</form>	
	  			</section>
	  		</div>
	  		
	  		<!-- Footer -->
	  		
	  		<footer class="customFooter">&copy;TRC Corp</footer> 
  		</div>
	</body>
</html>			
				
				
