<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Divisions</title>
  		
  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
				
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>
		
		
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		


   		<div class="container">
   		
   			<nav id="hcssmenu">
    		<ul>
        		<li>
           			<form th:action="@{/procurement/divisions/list}" method="post">
                            	
	           			<button type="submit" class="btn btn-light">Back</button>	
	           			
	           			<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           		</form>
        		</li>
            	
            </ul>
      	</nav>
   		<div class="cols-sm-4"><label style="color:teal;font-size:11px;" th:text="${quser.username} +' ('+ ${quser.role} +')'"></label></div>
      			<div class="row">
        			<div class="col-lg-12 text-center">
				          <p class="navbar-brand" style="color:#880000;font-size:15px;">Add/Edit</p>
				          
        			</div>
      			</div>
     		
  				<form class="form-main" th:action="@{/procurement/divisions/createDivision}" th:object="${division}" method="post">
                    
                    <div class="form-group">
                       	<label for="dnumber" class="col-form-label">Number<sup>*</sup>:</label> 
                       	<input type="text" th:field="*{dnumber}" id="dnumber" placeholder="Div Number" required  size="5" maxlength="10"/>
                    </div>
                        	
                	<div class="form-group">
                       	<label for="dname" class="col-form-label">Description<sup>*</sup>:</label> 
                       	<input type="text" th:field="*{dname}" id="dname" placeholder="Description" required  size="50" maxlength="50"/>
                    </div>
                    
                    <div class="form-group col-md-8">
     					<label for="active">Active</label>
     					<select th:field="*{active}">
					     	<option th:value="*{active}" th:text="*{active}"></option>
					    	<option th:value="'Yes'" th:text="Yes"></option>
					    	<option th:value="'No'" th:text="No"></option>
     					</select>    						
					</div>
                    
                    
                    <div class="form-group">
                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
                       
                    </div>
                            	
                    <input type="hidden" id="id" th:field="*{divisionid}">
     				<input type="hidden" th:value="${quserId}" name="quserId">
                        	
            	</form>
  				
  		</div>
  		
  		<!-- Footer -->
  
  		<footer class="customFooter">&copy;TRC Corp</footer> 
  			
	</body>
</html>			
				
				
