<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Quotes</title>
  		
  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
				
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>
		
		
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		


   		<div class="container">
   		
   			<nav id="hcssmenu">
    		<ul>
        		<li>
           			<a href="/procurement/Quotes/list">Back</a>
        		</li>
            	
            </ul>
      	</nav>
   		
      			<div class="row">
        			<div class="col-lg-12 text-center">
				          <p class="navbar-brand" style="color:#880000;font-size:15px;">Search Quotes</p>
				          
        			</div>
      			</div>
      			
      			<div class="row">
      			
      				<div class="col">
      				
      					<label class="warning">Search by Quote Number</label>
      				
      					<form class="utilityForm" th:action="@{/procurement/Quotes/findQuoteNum}" method="post">
	                    
		                    <div class="form-group">
		                       	<label for="number" class="col-form-label">Quote Number<sup>*</sup>:</label> 
		                       	<input type="text" name="stringSearch" placeholder="Quote Number" required  size="20" maxlength="20"/>
		                    </div>
		                                        
		                    
		                    <div class="form-group">
		                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
		                       	
		                    </div>
		                      	
	            		</form>
      				
      				</div>
      				<div class="col">
      				
      					<label class="warning">Search by Requester Name</label>
      				
      					<form class="utilityForm" th:action="@{/procurement/Quotes/findQuoteName}" method="post">
	                    
		                    <div class="form-group">
		                       	<label for="requester" class="col-form-label">String to search<sup>*</sup>:</label> 
		                       	<input type="text" name="stringSearch" placeholder="Part of the name" required  size="20" maxlength="15"/>
		                    </div>
		                                        
		                    
		                    <div class="form-group">
		                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
		                       	
		                    </div>
		                      	
	            		</form>
      				
      				
      				</div>
      				
      				<div class="col">
      				
      					<label class="warning">Search by Item</label>
      				
      					<form class="utilityForm" th:action="@{/procurement/Quotes/findQuoteItem}" method="post">
	                    
		                    <div class="form-group">
		                       	<label for="requester" class="col-form-label">Select item<sup>*</sup>:</label> 
		                       	<select name="stringSearch" required>
                       				<option th:each="item : ${items}" th:value="${item.item}" th:text="${item.item}" ></option>
                       			</select>
		                    </div>
		                                        
		                    
		                    <div class="form-group">
		                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
		                       	
		                    </div>
		                      	
	            		</form>
      				
      				
      				</div>
     		
	  				
  				</div>
  		</div>
  		
  		<!-- Footer -->
  
  		<footer class="customFooter">&copy;TRC Corp</footer> 
  			
	</body>
</html>			
				
				
