<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Email test</title>
  		
  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">		
			
		
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>
		
	</head>

	<body>
	
		<div class="container">

  <!-- Navigation -->
	  		<nav id="hcssmenu">
	    		<ul>
	        		<li>
	        			<a th:href="@{/procurement/tests/emailSel(quserId=${quserId})}"><span>Back</span></a>
	           		</li>
	            	
	            </ul>
	      	</nav>
			<div class="row">&nbsp;</div>
			<div class="row" style="color:teal;" th:text="${quser.username} +' ('+ ${quser.role} +')'"></div>
 			<div class="row">&nbsp;</div>
  			<section class="page-section" id="mainBody">
    			
      				<div class="row" >
        				<div class="col-4">
				          	<p style="color:indigo;">Results of sending email to :  <b><label th:text="${toEmail}" style="color:navy;"></label></b></p>
        				</div>
      				</div>
     			    				
					<div th:text="${message}">No information available..</div>
													
  					<hr/>
  			  		
  			</section>
  		</div>
  		
  		<!-- Footer -->
  		
  		<footer class="customFooter">&copy;TRC Corp</footer> 
  		
	</body>
</html>			
				
				
