<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<div class="row">
	
		<div class="col-4">
	
			<img class="img-fluid mb-4" th:src="@{/images/ccProcurementIcon.png}" style="height:150px;width:160px;">
			
		</div>
		
				
		<div class="col-8">	
	  	
			<div id='hcssmenu'>
				<ul>
					<li><a href="/procurement/index"><span>Home</span></a></li>
				    				    				  
				    	<li class='active has-sub' th:if="${quser.role}=='dba'"><a href='#'><span>Lists</span></a>
						<ul>
							<li>
								<form th:action="@{/procurement/divisions/list}" method="post">
                            	
	           						<button type="submit" class="btn btn-light">Divisions</button>	
	           			
	           						<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           					</form>
							</li>
							<li>
								<form th:action="@{/procurement/items/list}" method="post">
                            	
	           						<button type="submit" class="btn btn-light">Items</button>	
	           			
	           						<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           					</form>
							</li>
							<li>
								<form th:action="@{/procurement/projects/list}" method="post">
                            	
	           						<button type="submit" class="btn btn-light">Projects</button>	
	           			
	           						<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           					</form>
							</li>
      						<li>
								<form th:action="@{/procurement/sites/list}" method="post">
                            	
	           						<button type="submit" class="btn btn-light">Sites</button>	
	           			
	           						<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           					</form>
							</li>
      						<li>
								<form th:action="@{/procurement/titles/list}" method="post">
                            	
	           						<button type="submit" class="btn btn-light">Titles</button>	
	           			
	           						<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           					</form>
							</li>
							<li>
								<form th:action="@{/procurement/hhsDivisions/list}" method="post">
                            	
	           						<button type="submit" class="btn btn-light">HHS Divisions</button>	
	           			
	           						<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           					</form>
							</li>
							<li>
								<form th:action="@{/procurement/clients/list}" method="post">
                            	
	           						<button type="submit" class="btn btn-light">Employees</button>	
	           			
	           						<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           					</form>
							</li>
							<li>
								<form th:action="@{/procurement/sections/list}" method="post">
                            	
	           						<button type="submit" class="btn btn-light">Sections</button>	
	           			
	           						<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           					</form>
							</li>
         					<li>
								<form th:action="@{/purchases/list}" method="post">
                            	
	           						<button type="submit" class="btn btn-light">IT Requests</button>	
	           			
	           						<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           					</form>
							</li>
							<li>
								<form th:action="@{/dataComp/list}" method="post">
                            	
	           						<button type="submit" class="btn btn-light">TCP Data Comp</button>	
	           			
	           						<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           					</form>
							</li>
      					</ul>
   					</li>
   					<li  th:if="${quser.role}=='dba'">
   						<form th:action="@{/procurement/users/list}" method="post">
                            	
	           				<button type="submit" class="btn btn-light" style="font-size:11px;">Users</button>	
	           			
	           				<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           			</form>
   					</li>
   					<li  th:if="${quser.role}=='dba'">
   						<form th:action="@{/procurement/settings/list}" method="post">
                            	
	           				<button type="submit" class="btn btn-light" style="font-size:11px;">Settings</button>	
	           			
	           				<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           			</form>
	           		</li>
	           		<li>
   						<form th:action="@{/procurement/changePass}" method="post">
                            	
	           				<button type="submit" class="btn btn-light" style="font-size:11px;">Change My Password</button>	
	           			
	           				<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           			</form>
	           		</li>
	           		<li>
   						<form th:action="@{/procurement/about}" method="post">
                            	
	           				<button type="submit" class="btn btn-light" style="font-size:11px;">About</button>	
	           			
	           				<input type="hidden" th:value="${quserId}" name="quserId"> 
	           			
	           			</form>
	           		</li>
	           		<li>
   						<form th:action="@{/procurement/logOut}" method="post">
                            	
	           				<button type="submit" class="btn btn-light" style="font-size:11px;">Logout</button>	
	           			
	           				<input type="hidden" th:value="${quserId}" name="quserId"> 
	           				
	           			</form>
	           		</li>
	           		
   				</ul>
			</div>
		
		</div>
		
	</div>

  	
  	
  	
 		
  
  