<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Users</title>
  		
  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
				
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>
		
		
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		
   		<div class="container">
   		
   			<nav id="hcssmenu">
	    		<ul>
	        		<li>
	           			<form th:action="@{/procurement/users/list}" method="post">
	                            	
		           			<button type="submit" class="btn btn-light">Back</button>	
		           			
		           			<input type="hidden" th:value="${quserId}" name="quserId"> 
		           			
		           		</form>
	        		</li>
	        		<li th:if="${user.userid}!=null">
	        		
	           			<form th:action="@{/procurement/sectionsAssig/list}" method="post">
	                            	
		           			<button type="submit" class="btn btn-light">Assigned Sections</button>	
		           			
		           			<input type="hidden" th:value="${quserId}" name="quserId"> 
		           			<input type="hidden" th:value="${user.userid}" name="userId">
		           			
		           		</form>
	        		</li>
	        		<li th:if="${user.userid}!=null">
	        		
	           			<form th:action="@{/procurement/projectsAssig/list}" method="post">
	                            	
		           			<button type="submit" class="btn btn-light">Assigned Projects</button>	
		           			
		           			<input type="hidden" th:value="${quserId}" name="quserId"> 
		           			<input type="hidden" th:value="${user.userid}" name="userId">
		           			
		           		</form>
	        		</li>
	            	<li th:if="${user.userid}!=null">
	            	
	           			<form th:action="@{/procurement/users/advancedPerms}" method="post">
	                            	
		           			<button type="submit" class="btn btn-light">Advanced Permissions</button>	
		           			
		           			<input type="hidden" th:value="${quserId}" name="quserId"> 
		           			<input type="hidden" th:value="${user.userid}" name="userId">
		           			
		           		</form>
	        		</li>
	            </ul>
	      	</nav>
	      	
   			<div class="row" style="color:teal;" th:text="${quser.username} +' ('+ ${quser.role} +')'"></div>
      		<div class="row">
        		<div class="col-lg-12 text-center">
		         	<p class="navbar-brand" style="color:#880000;font-size:15px;">Add/Edit Users</p>
			   	</div>
      		</div>
      		<div class="row form-main">
     			<div class="col">
  					<form th:action="@{/procurement/users/createUser}" th:object="${user}" method="post">
                    
                    	<div class="form-group">
                       		<label for="userId" class="col-form-label">ID :</label> 
                       		<input type="text" th:value="${user.userid}" size="3" readOnly disabled/>
                    	</div>
                    
                    	<div class="form-group">
                       		<label for="username" class="col-form-label">User Name<sup>*</sup>:</label> 
                       		<input type="text" th:field="*{username}" id="username" placeholder="Description" required  maxlength="20"/>
                    	</div>
                    
	                    <div class="form-group">
	                       	<label for="email" class="col-form-label">Email<sup>*</sup>:</label> 
	                       	<input type="text" th:field="*{email}" id="email" placeholder="Email" required  size="30" maxlength="50"/>
	                    </div>      
	                    
	                    <div class="form-group">
	                       	
	                       	<label for="role">Role</label>
	     					<select th:field="*{role}"  id="role">
						     	<option th:value="*{role}" th:text="*{role}"></option>
						    	<option value="user">user</option>
						    	<option value="guest">guest</option>
						    	<option value="admin">admin</option>
	     					</select>
	                   
		                    <label for="domain" class="col-form-label">Domain: <sup>*</sup>:</label> 
		                       	<select th:field="*{domain}" id="domain">
		                       		<option th:value="*{domain}" th:text="${domain}"></option>
		                       		<option th:value="'Company'" th:text="Company"></option>
		                       		<option th:value="'Local'" th:text="Local"></option>
		                       	</select>
	                       	<label th:text="${division}"></label>
	                    </div>        	
	                    
	                    <div class="form-group col-md-8">
	     					<label for="active">Active</label>
	     					<select th:field="*{active}">
						     	<option th:value="*{active}" th:text="*{active}"></option>
						    	<option th:value="'Yes'" th:text="Yes"></option>
						    	<option th:value="'No'" th:text="No"></option>
	     					</select>
	     					
	                    </div>     						
						                    
                    
                    	<div class="form-group">
                       		<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
                   	 	</div>
                            	
                    	<input type="hidden" id="id" th:field="*{userid}">
     					<input type="hidden" th:value="${quserId}" name="quserId"> 
                        	
            		</form>
            	</div>	
           	 	<div class="col">
  						
  					<table th:if="${user.userid}!=null" class="table-condensed table-bordered table-striped" style="background-color:#fffff0;">					        			
        		 		<thead>
        		 			<tr><td colspan="3" style="color:brown;font-size:12px;font-weight:bold;background-color:#d3d3d3;padding:5px;">Assigned Sections</td></tr>
  							<tr>
  								<th style="color:#006400;font-size:12px;text-align:center;background-color:#fffacd;padding:5px;" noWrap>Number</th>
  								<th style="color:#006400;font-size:12px;text-align:center;background-color:#fffacd;padding:5px;" noWrap>Section Name</th>
  							</tr>
  						</thead>
  						<tbody>
  							<tr th:each="section,itemNum : ${sections}">
  								<td th:text="${section.assigSectionNumber}" style="font-size:12px;padding:5px;"></td>
  								<td th:text="${section.username}" style="font-size:12px;padding:5px;"></td>
  							</tr>	   				 
        				</tbody>
        			</table>	 
  				</div>
  				
  				<div class="col">
  						
  					<table th:if="${user.userid}!=null" class="table-condensed table-bordered table-striped" style="background-color:#fffff0;">					        			
        		 		<thead>
        		 			<tr><td colspan="3" style="color:brown;font-size:12px;font-weight:bold;background-color:#d3d3d3;padding:5px;">Assigned Projects</td></tr>
  							<tr>
  								<th style="color:#006400;font-size:12px;text-align:center;background-color:#fffacd;padding:5px;" noWrap>Number</th>
  								<th style="color:#006400;font-size:12px;text-align:center;background-color:#fffacd;padding:5px;" noWrap>Project</th>
  							</tr>
  						</thead>
  						<tbody>
  							<tr th:each="project,itemNum : ${projects}">
  								<td th:text="${project.assigProjectNumber}" style="font-size:12px;padding:5px;"></td>
  								<td th:text="${project.username}" style="font-size:12px;padding:5px;"></td>
  							</tr>	   				 
        				</tbody>
        			</table>	 
  				</div>
  				
  				<div class="col">
  					<table th:if="${user.userid}!=null" class="table-condensed table-bordered table-striped" style="background-color:#fffff0;">	
  						<thead>
        		 			<tr><td colspan="2" style="color:brown;font-size:12px;font-weight:bold;padding:5px;">Assigned Role(s)</td></tr>
  						</thead>
  						<tbody>
  							<tr th:if="${user.priznakITapprover}=='Yes'">
  								<td style="font-size:12px;padding:5px;">IT Approver</td>
  								<td style="padding:5px;">	
  									<form th:action="@{/procurement/users/demote}" method="post">
  									
  										<input type="hidden" name="userId"  th:value="${user.userid}">
     									<input type="hidden" name="quserId" th:value="${quserId}" >
     									<input type="hidden" name="priznakRole" value="priznakITapprover" >
     									
     									<input type="submit" style="width:60px;height:16px;background-color:#ffdead;color:#800000;" value="Demote"> 	
  									</form>
  								</td>
  							</tr>
  							<tr th:if="${user.priznakFOapprover}=='Yes'">	
  								<td  style="font-size:12px;padding:5px;">FO Approver</td>
  								<td style="padding:5px;">	
  									<form th:action="@{/procurement/users/demote}" method="post">
  									
  										<input type="hidden" name="userId"  th:value="${user.userid}">
     									<input type="hidden" name="quserId" th:value="${quserId}" >
     									<input type="hidden" name="priznakRole" value="priznakFOapprover" >
     									
     									<input type="submit" style="width:60px;height:16px;background-color:#ffdead;color:#800000;" value="Demote"> 	
  									</form>
  								</td>
  							</tr>
  							<tr th:if="${user.priznakPpc}=='Yes'">	
  								<td  style="font-size:12px;padding:5px;">PPC</td>
  								<td style="padding:5px;">	
  									<form th:action="@{/procurement/users/demote}" method="post">
  									
  										<input type="hidden" name="userId"  th:value="${user.userid}">
     									<input type="hidden" name="quserId" th:value="${quserId}" >
     									<input type="hidden" name="priznakRole" value="priznakPpc" >
     									
     									<input type="submit" style="width:60px;height:16px;background-color:#ffdead;color:#800000;" value="Demote"> 	
  									</form>
  								</td>
  							</tr>	   				 
        				</tbody>
  					</table>
  				</div>
  			
  			</div>	
  		</div>
  		
  		<!-- Footer -->
  
  		<footer class="customFooter">&copy;TRC Corp</footer> 
  			
	</body>
</html>			
				
				
