<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Clients</title>
  		
  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
				
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>
		
		
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		


   		<div class="container">
   		
   			<nav id="hcssmenu">
    		<ul>
        		<li>
           			<a href="/procurement/clients/list">Back</a>
        		</li>
            	
            </ul>
      	</nav>
   		
      			<div class="row">
        			<div class="col-lg-12 text-center">
				          <p class="navbar-brand" style="color:#880000;font-size:15px;">Client Views</p>
				          
        			</div>
      			</div>
      			
      			<div class="row">
      			
      				<div class="col">
      				
      					<label class="warning">Vax Status View</label>
      				
      					<form class="utilityForm" th:action="@{/procurement/clients/viewVaxStatus}" method="post">
	                    
		                    <div class="form-group">
		                       	<label for="division" class="col-form-label">Select a HHS Division:</label> 
		                        <select name="division" required>
                       				<option th:each="division : ${divisions}" th:value="${division.divisionNumber}" th:text="${division.division}" ></option>
                       			</select>
                    		</div>

		                    <div class="form-group">
		                       	<label for="vacStatus" class="col-form-label">Select a Vax Status</label> 
		                        <select name="vacStatus" required>
                       				<option value="Fully Vaccinated">Fully Vaccinated</option>
                       				<option value="Partially Vaccinated">Partially Vaccinated</option>
                       				<option value="Religious Exemption">Religious Exemption</option>
                       			</select>
                    		</div>
		                                        
		                    
		                    <div class="form-group">
		                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
		                       	
		                    </div>
		                      	
	            		</form>
      				
      				</div>
      				<div class="col">
      				
      					<label class="warning">Other view</label>
      				
      					<form class="utilityForm" th:action="@{/procurement/clients/....}" method="post">
	                    
		                               
		                    
		                    <div class="form-group">
		                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
		                       	
		                    </div>
		                      	
	            		</form>
      				
      				
      				</div>
     		
	  				
  				</div>
  		</div>
  		
  		<!-- Footer -->
  
  		<footer class="customFooter">&copy;TRC Corp</footer> 
  			
	</body>
</html>			
				
				
