<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Assets</title>
  		
  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/calendarControl.css}">
		
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>
  		<script th:src="@{/js/calendarControl.js}"></script>
		
		
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		

   		<div class="container">
   		
   			<nav id="hcssmenu">
	    		<ul>
	        		<li>
	           			<a href="/procurement/Assets/list">Back</a>
	        		</li>
	        		<li th:if="${priznakNew=='Yes'}">
	           			<a th:href:disabled="@{/procurement/peripherals/list/{id}(id=${asset.assetid})}">Peripherals</a>
	        		</li>
	        		<li th:if="${priznakNew=='No'}">
	           			<a th:href="@{/procurement/peripherals/list/{id}(id=${asset.assetid})}">Peripherals</a>
	           		</li>
	           		
	            	
	            </ul>
      		</nav>
   			
   		
   		
      			<div class="row">
        			<div class="col-lg-12 text-center">
				          <p class="navbar-brand" style="color:#880000;font-size:15px;">Add/Edit Assets</p>
				          
        			</div>
      			</div>
     		
  				<form class="form-main" th:action="@{/procurement/Assets/createAsset}" th:object="${asset}" method="post">
                    
                    <div class="form-group">
                       	<label for="assetNumber" class="col-form-label">Asset Number <sup>*</sup>:</label> 
                       	<input type="text" th:field="*{assetNumber}" id="assetNumber" placeholder="Asset Number" required  size="25" maxlength="50"/>
                       	
                       	<label for="item" class="col-form-label">Item :</label> 
                       	<select th:field="*{item}" id="item" required>
                       		<option th:value="*{item}" th:text="${itemName}"></option>
                       		<option th:each="item : ${items}" th:value="${item.itemNumber}" th:text="${item.item}" ></option>
                       		
                       	</select>
                    
                    </div>
                    
                    <div class="form-group">    	
                    	<label for="maker" class="col-form-label">Maker/Brand <sup>*</sup>:</label> 
                       	<input type="text" th:field="*{maker}" id="maker" placeholder="Maker/Brand" size="15" maxlength="15"/>
                       	                     
                       	<label for="model" class="col-form-label">Model<sup>*</sup>:</label> 
                       	<input type="text" th:field="*{model}" id="model" placeholder="Model" size="50" maxlength="50"/>
                    </div>    	
                        	
                
                   <div class="form-group">   
                       	<label for="datePurchased" class="col-form-label">Date Purchased :</label> 
                       	<input type="text" th:field="*{datePurchased}" id="datePurchased" placeholder="Date" size="10" maxlength="10" onfocus="showCalendarControl(this);"/>
                       	
                    	<label for="status" class="col-form-label">Status : </label> 
	                   	<select th:field="*{status}" id="status">
	                   		<option th:value="*{status}" th:text="*{status}"></option>
	                   		<option value="On line">On line</option>
	                   		<option value="Unusable">Unusable</option>
	                   		<option value="With missing/broken parts">With missing/broken parts</option>
	                   		<option value="Unknown">Unknown</option>
	                   		<option value=""></option>
	                   	</select>
	                   	<label for="active">Active</label>
     					<select th:field="*{active}" id="active">
					     	<option th:value="*{active}" th:text="*{active}"></option>
					    	<option th:value="'Yes'" th:text="Yes"></option>
					    	<option th:value="'No'" th:text="No"></option>
     					</select>  
                   </div>
                    
                    <hr>
                    
                    <div class="form-group">
                       	<label for="username" class="col-form-label">User Name:</label> 
                       	<input type="text" th:field="*{username}" id="username" placeholder="User name" size="50" maxlength="50"/>
                    
                       	<label for="title" class="col-form-label">Title :</label> 
                       	<select th:field="*{title}" id="title">
                       		<option th:value="*{title}" th:text="${titleName}"></option>
                       		<option th:each="title : ${titles}" th:value="${title.titleDesc}" th:text="${title.titleDesc}" ></option>
                       		<option value="Other">Other (Add notes)</option>
                       	</select>
                    </div>
                    
                    <div class="form-group">
     					<label for="active">Employment Status</label>
     					<select th:field="*{empStatus}">
					     	<option th:value="*{empStatus}" th:text="*{empStatus}"></option>
					    	<option value="Perm">Perm</option>
					    	<option value="Temp">Temp</option>
     					</select>    						
						  						
					</div>       	
                                       
                    <div class="form-group">
                       	<label for="project" class="col-form-label">Project :</label> 
                       	<select th:field="*{project}" id="project">
                       		<option th:value="*{project}" th:text="${projectName}"></option>
                       		<option th:each="project : ${projects}" th:value="${project.projectNumber}" th:text="${project.project}" ></option>
                       		<option value="Other">Other (Add notes)</option>
                       	</select>
                       	<label for="email" class="col-form-label">Email :</label> 
                       	<input type="text" th:field="*{email}" id="email" placeholder="someone@cc-dc.org" size="50" maxlength="70"/>
                    </div>
                    
                    <div class="form-group">
                       	<label for="site" class="col-form-label">Site :</label> 
                       	<select th:field="*{site}" id="site">
                       		<option th:value="*{site}" th:text="${siteName}"></option>
                       		<option th:each="site : ${sites}" th:value="${site.siteNumber}" th:text="${site.sname}" ></option>
                       		<option value="Other">Other (Add notes)</option>
                       	</select>
                    </div>
                    
                    
                    
                    <hr>   	
                     
                    <div class="form-group">   	
                       	<label for="author" class="col-form-label"> Form Completed by :</label> 
                       	<input type="text" th:field="*{author}" id="author" placeholder="" required size="50" maxlength="50"/>
                       	<label for="email" class="col-form-label">Email :</label> 
                       	<input type="text" th:field="*{authorEmail}" id="authorEmail" placeholder="someone@cc-dc.org" size="50" maxlength="70"/>
                    </div>
                    
                                                            
                    <div class="form-group">
      					<label for="notes">Notes/Observations:</label><br>
      					<textarea id="notes" th:field="*{notes}" rows="7" cols="80"></textarea>
      				</div>	
      				<div th:if="${priznakNew=='No'}" class="form-group">
      					
      					<table class="table table-bordered" style="width:30%">
      						<thead>
      							<tr class="table-active">
      								<td style="font-weight:bold">Related peripherals</td>
      							</tr>
      						</thead>
      						<tbody>
      							<tr th:each="peripheral : ${peripherals}">
      								<td th:text="${peripheral.description}"></td>
      							</tr>
     						</tbody>		
      					</table>
      					
      					<table class="table table-bordered" style="width:50%">
      						<thead>
      							<tr class="table-active">
      								<td style="font-weight:bold">Asset Date Creation</td>
      								<td style="font-weight:bold">Key Record ID</td>
      							</tr>
      						</thead>
      						<tbody>
      							<tr>
      								<td th:text="*{dateCreation}"></td>
      								<td th:text="*{kluch}"></td>
      							</tr>
      						</tbody>		
      					</table>
      					
					</div>
					
					                                       
                    <div class="form-group">
                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
                       	
                       	<a href="/procurement/Assets/list" class="btn btn-secondary btn-sm">
                			<i class="fas fa-back ml-2"> Cancel </i>
                		</a>
                    </div>
                            	
                    <input type="hidden" id="id" th:field="*{assetid}"> 
                    <input type="hidden" th:value="${seed}" th:attr="name='strobe'"> 
                    <input type="hidden" th:value="${kluch}" th:attr="name='kluch'"> 
                         				                        	
            	</form>
  				
  		</div>
  		
  		<!-- Footer -->
  
  		<footer class="customFooter">&copy;TRC Corp</footer> 
  			
	</body>
</html>			
				
				
