<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>IT Form</title>
  		
  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/calendarControl.css}">
		
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>
  		<script th:src="@{/js/calendarControl.js}"></script>
		
		
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		

   		<div class="container">
   		
   			<nav id="hcssmenu">
    		<ul>
        		<li>
           			<!-- <a th:href="@{/portal/assets/menu/{kluch}(kluch=${kluch})}">Back</a>  -->
        		</li>
            	
            </ul>
      	</nav>
   			
   		
   		
      			<div class="row">
        			<div class="col-lg-12 text-center">
				          <p class="navbar-brand" style="color:#880000;font-size:15px;">HHS IT Inventory Database (Continuation)</p>
				          
        			</div>
      			</div>
      			
      			<div class="row">
      			
	      			<div class="col">
	     		
	  					<form class="form-main" th:action="@{/portal/assets/periphOrNot}" th:object="${asset}" method="post">
	                                       
	                    	<div class="form-group">
	                       	
	                       		<label for="empStatus">Please select the item</label>
	     						<select th:field="*{item}" id="item">
	                       			<option th:each="item : ${items}" th:value="${item.itemNumber}" th:text="${item.item}" ></option>
	                       		</select>
	                        </div>
	                        
	                        <div class="form-group">
	                        	<label for="assetNumber" class="col-form-label">Asset Number<sup>*</sup>:</label> 
                       			<input type="text" th:field="*{assetNumber}" id="assetNumber" placeholder="Asset Number" required  size="25" maxlength="50"/>
                       			<label style="font-size:12px;color:brown;">Note: If this is a cell phone, please input the phone number, no dashes, no spaces, no parenthesis</label>
	                        </div>
	                        
	                        <div class="form-group">   
                                              	
                    			<label for="status" class="col-form-label">Status : </label> 
	                   			<select th:field="*{status}" id="status">
	                   				<option value=""></option>
	                   				<option value="On line">On line</option>
			                   		<option value="Unusable">Unusable</option>
			                   		<option value="With missing/broken parts">With missing/broken parts</option>
			                   		<option value="Unknown">Unknown</option>
			                   	</select>
                   			</div>
	                        
	                        <div class="form-group">
      							<label for="notes">Notes/Observations:</label><br>
      							<textarea id="notes" th:field="*{notes}" rows="5" cols="50"></textarea>
							</div> 
	                                              
	                    	<div class="form-group">
	                       		<input type="submit" class="btn btn-primary btn-sm" value="Press here to input IT Equipment">
	                    	</div>
	                        
				            <input type="hidden" th:field="*{username}" id="username">
	                        <input type="hidden" th:field="*{email}" id="email">
	                        <input type="hidden" th:field="*{empStatus}" id="empStatus">
	                        <input type="hidden" th:field="*{title}" id="title">
	                        <input type="hidden" th:field="*{project}" id="project">
				            
				            <input type="hidden" th:field="*{kluch}" id="kluch"> 
				                    	
				        </form>
				        
				               	
				</div>
	  				
	  			<div class="col">
	  					
	  					<table>
	  						<tr><th style="font-size:11px;font-weight: bold;color:teal;">So far input Information:</th></tr>
		  					<tr><td style="font-size:10px;" th:text="${asset.username}"></td></tr>
		  					<tr><td style="font-size:10px;" th:text="${asset.email}"></td></tr>
		  					<tr><td style="font-size:10px;" th:text="${asset.title} +' '+ ${titleName}"></td></tr>
		  					<tr><td style="font-size:10px;" th:text="${asset.empStatus}"></td></tr>
		  					<tr><td style="font-size:10px;" th:text="${asset.project} +' '+ ${projectName}"></td></tr>
		  					<tr><td>---</td></tr>
		  					<tr><td style="font-size:10px;" th:text="${asset.kluch}"></td></tr>
		  				</table>
	  				</div>	
	  				
	  		</div>
	  	</div>
  		
  		<!-- Footer --> 
  
  		<footer class="customFooter"></footer> 
  			
	</body>
</html>			
				
				
