<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Assets Portal Form4B</title>
  		
  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/calendarControl.css}">
		
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>
  		<script th:src="@{/js/calendarControl.js}"></script>
		
		
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		

   		<div class="container">
   		
   			<nav id="hcssmenu">
    		<ul>
        		<li>
           			<!-- <a th:href="@{/portal/assets/menu/{kluch}(kluch=${kluch})}">Back</a>  -->
        		</li>
            	
            </ul>
      	</nav>
   			
   		
   		
      			<div class="row">
        			<div class="col-lg-12 text-center">
				          <p class="navbar-brand" style="color:#880000;font-size:15px;">HHS IT Inventory (Peripherals)</p>
				          
        			</div>
      			</div>
      			
      			<div class="row">
      			
      				<p class="navbar-brand" style="color:teal;font-size:14px;">Do you have more peripherals to input?</p>
      			
	      			<div class="col">
	     		
	  					<form class="form-main" th:action="@{/portal/assets/form6}"  method="post">
	                                       
	                    	<input type="submit" class="btn btn-primary btn-sm" value="Yes, I will continue inputing associated peripherals">	                        
	                        
	                    	<input type="hidden" th:value="${assetId}" th:attr="name='assetId'">
	                    	<input type="hidden" th:value="${kluch}" th:attr="name='kluch'">
	                    	
	                    	<input type="hidden" th:value="Yes" th:attr="name='priznak'">
	                    		                         				                        	
	            		</form>
	  				</div>
	  				
	  				<div class="col">
	  				
	  					<form class="form-main" th:action="@{/portal/assets/form6}"  method="post">
	                                       
	                    	<input type="submit" class="btn btn-primary btn-sm" value="No, that was the last peripheral">	                        
	                        
	                    	<input type="hidden" th:value="${assetId}" th:attr="name='assetId'">
	                    	<input type="hidden" th:value="${kluch}" th:attr="name='kluch'">
	                    	
	                    	<input type="hidden" th:value="No" th:attr="name='priznak'">
	                         				                        	
	            		</form>
	  					
	  				</div>
	  				<div class="col">
	  					<label style="font-size:10px;font-weight: bold;color:teal;">So far input peripherals:</label>
	  					<table>
	  						<tr th:each="peripheral : ${peripherals}">
	  							<td style="font-size:9px;" th:text="${peripheral.description}"></td>
	  						</tr>
	  						
	  					</table>
	  				</div>	
	  				
	  			</div>
	  	</div>
  		
  		<!-- Footer --> 
  
  		<footer class="customFooter"></footer> 
  			
	</body>
</html>			
				
				
