<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Clients</title>
  		
  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/calendarControl.css}">
				
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>
		<script th:src="@{/js/calendarControl.js}"></script>
		
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		


   		<div class="container">
   		
   			<nav id="hcssmenu">
    		<ul>
        		<li>
           			<a href="/procurement/clients/list">Back</a>
        		</li>
            	
            </ul>
      	</nav>
   		
      			<div class="row">
        			<div class="col-lg-12 text-center">
				          <p class="navbar-brand" style="color:#880000;font-size:15px;">Add/Edit Clients</p>
				          
        			</div>
      			</div>
     		
  				<form class="form-main" th:action="@{/procurement/clients/createClient}" th:object="${client}" method="post">
                    
                                            	
                	<div class="form-group">
                       	<label for="cname" class="col-form-label">Client Name<sup>*</sup>:</label> 
                       	<input type="text" th:field="*{cname}" id="cname" placeholder="Last, First" required  size="50" maxlength="70"/>
                       	
                       	<label  for="hmisNum" class="col-form-label">HMIS Number<sup></sup>:</label> 
                       	<input type="text" th:field="*{hmisNum}" id="hmisNum" placeholder="HMIS Number" size="10" maxlength="10"/>
                       	
                       	<label for="type">Type</label>
     					<select th:field="*{type}">
					     	<option th:value="*{type}" th:text="*{type}"></option>
					    	<option value="client">client</option> 
					    	<option value="staff">staff</option>
					    	<option value="volunteer">volunteer</option>
					  	</select>
                    </div> 
                       	
                    <div class="form-group">
                       	<label for="division" class="col-form-label">Division:</label> 
                       	<input type="text" th:field="*{division}" id="division" placeholder="Division" size="5" maxlength="5"/>
                                      
                    
                       	<label for="program" class="col-form-label">Program:</label> 
                       	<select th:field="*{projectNumber}" id="projectNumber">
                       		<option th:value="*{projectNumber}" th:text="*{program}"></option>
                       		<option th:each="project : ${projects}" th:value="${project.projectNumber}" th:text="${project.project}" ></option>
                       		<option value="Unknown">Unknown</option>
                       	</select>
                       	
                    </div>
                    
                    <div class="form-group">
                       	<label for="hhsDivision" class="col-form-label">HHS Division (Staff Only):</label> 
                       	<select th:field="*{hhsDivision}">
					     	<option th:value="*{hhsDivision}" th:text="*{hhsDivision}"></option>
					    	<option value="10">10</option>
					    	<option value="20">20</option>
					    	<option value="30">30</option>
					    	<option value="40">40</option>
					    	<option value="50">50</option>
					    	<option value="60">60</option>
     					</select>
                    
                       	<label for="email" class="col-form-label">CC Email<sup></sup>:</label> 
                       	<input type="text" th:field="*{email}" id="email" placeholder="Email" size="50" maxlength="60"/>
                    
     					<label for="active">Active</label>
     					<select th:field="*{active}">
					     	<option th:value="*{active}" th:text="*{active}"></option>
					    	<option th:value="'Yes'" th:text="Yes"></option>
					    	<option th:value="'No'" th:text="No"></option>
     					</select>    						
					</div>
					
					<hr>
					
					<div class="form-group col-md-8">
     					<label for="vacStatus">Vaccination Status</label>
     					<select th:field="*{vacStatus}">
					     	<option th:value="*{vacStatus}" th:text="*{vacStatus}"></option>
					    	<option value="Fully Vaccinated">Fully Vaccinated</option>
					    	<option value="Partially Vaccinated">Partially Vaccinated</option>
					    	<option value="Religious Exemption">Religious Exemption</option>
					    	<option value=""></option>
     					</select>
     				</div>	    						
					
					<div class="form-group col-md-12">
					
						
						<label for="completionTime" class="col-form-label">VAX Completion Date<sup></sup>:</label> 
                       	<input type="text" th:field="*{completionTime}" id="completionTime" size="20" maxlength="20" onfocus="showCalendarControl(this);"/>
                       	<label style="font-size:10px;font-weight: bold;" th:text="*{realCompletionTime}"></label> 
                       	
                       	
                       	<label for="dateSecondDose" class="col-form-label">VAX Second Dose Date<sup></sup>:</label> 
                       	<input type="text" th:field="*{dateSecondDose}" id="dateSecondDose" size="20" maxlength="20" onfocus="showCalendarControl(this);"/>
                    	<label style="font-size:10px;font-weight: bold;" th:text="*{realDateSecondDose}"></label> 
                    </div>
                    
                    <hr>
                    
                    <div class="form-group col-md-8">
                    
                    		
					  	<label for="dateCreation" class="col-form-label">Date Creation<sup></sup>:</label> 
                       	<input type="text" th:field="*{dateCreation}" id="dateCreation" size="20" maxlength="20" onfocus="showCalendarControl(this);"/>
                       	<label style="font-size:10px;font-weight: bold;" th:text="*{realDateCreation}"></label>  
     				</div>	
     				
     				  
                    
                    <div class="form-group">
      					<label for="notes">Notes/Observations:</label><br>
      					<textarea id="notes" th:field="*{notes}" rows="7" cols="80"></textarea>
					</div>
                    
                    <div class="form-group">
                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
                       	
                       	<a href="/procurement/clients/list" class="btn btn-secondary btn-sm">
                			<i class="fas fa-back ml-2"> Cancel </i>
                		</a>
                    </div>
                            	
                    <input type="hidden" id="id" th:field="*{clientid}"> 
     
                        	
            	</form>
  				
  		</div>
  		
  		<!-- Footer -->
  
  		<footer class="customFooter">&copy;TRC Corp</footer> 
  			
	</body>
</html>			
				
				
