<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<div class="row">
	
		<div class="col-4">
	
			<img class="img-fluid mb-4" th:src="@{/images/ccProcurementIcon.png}" style="height:150px;width:160px;">
			
		</div>
		
				
		<div class="col-8">	
	  	
			<div id='hcssmenu'>
				<ul>
					<li><a href="/procurement/index"><span>Home</span></a></li>
				    <li><a href="/procurement/Quotes/list"><span>Quotes</span></a></li>
				    <li><a href="/procurement/Periodicals/list"><span>Periodicals</span></a></li>
				    <li><a href="/procurement/clients/list"><span>Clients</span></a></li>
				    <li class='active has-sub'><a href='#'><span>Lists</span></a>
						<ul>
      						<li><a href="/procurement/Divisions/list"><span>Divisions</span></a></li>
      						<li><a href="/procurement/Items/list"><span>Items</span></a></li>
      						<li><a href="/procurement/phones/list"><span>Phones</span></a></li>
         					<li><a href="/procurement/Projects/list"><span>Projects</span></a></li>
         					<li><a href="/procurement/Providers/list"><span>Providers</span></a></li>
            				<li><a href="/procurement/Sites/list"><span>Sites</span></a></li>
            				<li><a href="/procurement/Titles/list"><span>Titles</span></a></li>
            				<li><a href="/procurement/hhsDivisions/list"><span>HHS Divisions</span></a></li>
      					</ul>
   					</li>
   					<li><a href="/procurement/users/list"><span>Users</span></a></li>
   					<li><a href="/procurement/Settings/list"><span>Settings</span></a></li>
   				</ul>
			</div>
		
		</div>
		
	</div>

  	
  	
  	
 		
  
  