<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<div class="row">
	
		<div class="col-sm">
	
			<img class="img-fluid mb-4" src="images/1.jpg" style="height:50px;width:60px;">
			
		</div>
		
				
		<div class="col-sm">	
	  	
			<div id='hcssmenu'>
				<ul>
					<li><a href="/procurement/index"><span>Home</span></a></li>
				    <li><a href="/Sites/list"><span>Sites</span></a></li>
				    <li><a href="/Providers/list"><span>Providers</span></a></li>
				    <li><a href="/Providers/list"><span>Periodicals</span></a></li>
				    <li class='active has-sub'><a href='#'><span>Other Product</span></a>
      					<ul>
         					<li class='has-sub'><a href='#'><span>Product 1</span></a>
            					<ul>
					               <li><a href='#'><span>Sub Product</span></a></li>
					               <li class='last'><a href='#'><span>Sub Product</span></a></li>
            					</ul>
         					</li>
         					<li class='has-sub'><a href='#'><span>Product 2</span></a>
            					<ul>
					               <li><a href='#'><span>Sub Product</span></a></li>
					               <li class='last'><a href='#'><span>Sub Product</span></a></li>
            					</ul>
         					</li>
      					</ul>
   					</li>
   					<li><a href="/Quotes/list"><span>Quotes</span></a></li>
   					<li><a href=""><span>Programs</span></a></li>
   					
				</ul>
			</div>
		
		</div>
		
	</div>

  	
  	
  	
 		
  
  